

body {
  /* font-size: 0.9em; */
  background-color: #ecf0f1;
}

.btn {
  padding: 2px 8px;
}

input {
  border: 0px solid #000;
  margin: 0;
  background: transparent;
  width: 100%;
}
table tr td {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
table {
  background: #fff none repeat scroll 0 0;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}
table tr:nth-child(even) {
  background: #95a5a6;
}
table tr:nth-child(odd) {
  background: #bdc3c7;
}
.active {
  font-weight: bold;
}

.information {
  border-radius: 100%;
  background: #444;
  color: white;
  padding: 2px 5px;
  font-size: 80%;
  font-weight: bold;
}